<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sharan.iotsmartchain"
    android:versionCode="1"
    android:versionName="V1.0">

    <!-- INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- CAMERA -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- ALERT -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- READ AND WRITE EXTERNAL SD -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- EMAIL PHONE SMS PROFILE CALL -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- WiFi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- BLUETOOTH -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_back_png"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_back_png"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".main.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.activities.MainActivity"
            android:label="IOT main"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".loginModule.activities.LoginActivity"
            android:label="Login"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".loginModule.activities.OtpLoginActivity"
            android:label="Login via OTP"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".loginModule.activities.RegisterActivity"
            android:label="Register"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".loginModule.activities.MobEmailValidationActivity"
            android:label="Validation"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".loginModule.activities.ResetPasswordActivity"
            android:label="Reset/Update new Password"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".NormalFlow.activities.HomeActivity"
            android:label="IOT Smart"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".NormalFlow.activities.SensorsActivity"
            android:label="Sensors"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".NormalFlow.activities.SensorReportActivity"
            android:label="Sensor Report"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".NormalFlow.activities.RegisterIoTDeviceActivity"
            android:configChanges="orientation|screenSize"
            android:label="Register IoT Devices"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".qrcodescanner.QrCodeActivity"
            android:label="QrCode Scanner"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".IotDeviceConfigure.WiFiActivity"
            android:label="Wifi"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".IotDeviceConfigure.WifiSecondDemo"
            android:label="WIFI"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".NormalFlow.activities.InstallConfigureIoTActivity"
            android:label="IoT Installation"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".NormalFlow.activities.FloorPlanActivity"
            android:label="Floor Plan"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dashboard.activity.DashBoardActivity"
            android:label="Dash Board"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dashboard.activity.BatteryStatusActivity"
            android:label="Battery Status"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dashboard.activity.MasterLockActivity"
            android:label="Master Locks"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dashboard.activity.AnalyticsActivity"
            android:label="Analytics"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dashboard.activity.ModulesActivity"
            android:label="Modules"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dashboard.activity.AllNotificationDetailsActivity"
            android:label="Notifications"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dashboard.activity.FaqActivity"
            android:label="FAQ"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dashboard.activity.FeedBackActivity"
            android:label="FeedBack"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".dashboard.activity.AboutInfoActivity"
            android:label="Info"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dashboard.activity.SupportChatActivity"
            android:label="Message"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".dashboard.activity.SupportMainActivity"
            android:label="Support"
            android:windowSoftInputMode="adjustPan" />
        <!-- <activity android:name=".vi.filepicker.MainActivity"/> -->
        <activity
            android:name=".vi.filepicker.FragmentActivity"
            android:label="File Picker"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fp.FilePickerActivity"
            android:configChanges="orientation|screenSize"
            android:label="File Picker"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fp.MediaDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="FilePicker"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".WifiNetwork.MainWifiBleActivity"
            android:label="Wi-Fi"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".BlueTooth.DeviceControlActivity"
            android:label="BLE"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".NormalFlow.activities.CreateNonSpatialActivity"
            android:label="Non-Spatial Plan"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".NormalFlow.activities.WebViewActivity"
            android:label="FloorPlan"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".NormalFlow.activities.NonSpatialDetailActivity"
            android:label="Non-Spatial Plan Details"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".BlueTooth.SensorViaBleTestActivity"
            android:label="Ble Test"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".dashboard.activity.ViewNotificationActivity"
            android:label="Notification Details"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".dashboard.activity.IotDeviceNotificationActivity"
            android:label="Notification Details"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <service
            android:name=".BlueTooth.BluetoothLeService"
            android:enabled="true" />

        <!-- Fire base Notifications -->
        <service android:name=".Services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Services.MyFireBaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- ./Firebase Notifications -->
        <service
            android:name=".Services.RegistrationIntentService"
            tools:ignore="InnerclassSeparator" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".LocationModule.MapsActivity"
            android:label="@string/title_activity_maps"></activity>
    </application>

</manifest>