<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sharan.iotsmartchain"
    android:versionCode="1"
    android:versionName="V1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.activities.MainActivity"
            android:label="IOT main"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".loginModule.activities.LoginActivity"
            android:label="Login"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".loginModule.activities.OtpLoginActivity"
            android:label="Login via OTP"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity
            android:name=".loginModule.activities.RegisterActivity"
            android:label="Register"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".loginModule.activities.MobEmailValidationActivity"
            android:label="Validation"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".NormalFlow.activities.HomeActivity"
            android:label="IOT Smart"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".NormalFlow.activities.SensorsActivity"
            android:label="Sensors"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".NormalFlow.activities.SensorReportActivity"
            android:label="Sensor Report"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".NormalFlow.activities.RegisterIoTDeviceActivity"
            android:label="Register IoT Devices"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".qrcodescanner.QrCodeActivity"
            android:label="QrCode Scanner"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".NormalFlow.activities.InstalConfigureIoTActivity"
            android:label="IoT Installation"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".NormalFlow.activities.FloorPlanActivity"
            android:label="Floor Plan"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dashboard.activity.DashBoardActivity"
            android:label="Dash Board"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dashboard.activity.BatteryStatusActivity"
            android:label="Battery Status"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dashboard.activity.MasterLockActivity"
            android:label="Master Locks"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dashboard.activity.AnalyticsActivity"
            android:label="Analytics"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dashboard.activity.ModulesActivity"
            android:label="Modules"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dashboard.activity.NotificationListActivity"
            android:label="Notifications"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dashboard.activity.FaqActivity"
            android:label="FAQ"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dashboard.activity.FeedBackActivity"
            android:label="FeedBack"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".dashboard.activity.AboutInfoActivity"
            android:label="Info"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dashboard.activity.SupportChatActivity"
            android:label="Message"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".dashboard.activity.SupportMainActivity"
            android:label="Support"
            android:windowSoftInputMode="adjustPan" />

        <!--<activity android:name=".vi.filepicker.MainActivity"/>-->

        <activity android:name=".vi.filepicker.FragmentActivity"
            android:label="File Picker"
            android:windowSoftInputMode="adjustPan"/>

        <!--<provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="vi.filepicker"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"></meta-data>
        </provider>-->

        <activity
            android:name=".fp.FilePickerActivity"
            android:label="File Picker"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name=".fp.MediaDetailsActivity"
            android:label="FilePicker"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|screenSize" />

        <!-- <provider
            android:name=".fp.utils.FilePickerProvider"
            android:authorities="${applicationId}.fp.filepicker.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>-->

        <!-- Firebase Notifications -->
        <service android:name=".Services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".Services.MyFireBaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- ./Firebase Notifications -->
        <service
            android:name=".Services.RegistrationIntentService"
            tools:ignore="InnerclassSeparator" />

    </application>

</manifest>